$text_color_1: #000000;
$text_color_2: #ffffff;
$text_color_3: rgba(8, 8, 10, .8);
$text_color_4: #BD2A1E;
$text_color_5: #F8B032;
$text_color_6: #08080A;
$text_color_7: #626262;
$text_color_8: #333333;
$text_color_9: #a4acb2;
$text_color_10: #EB5757;
$text_color_11: rgba(235, 87, 87, 0.3);
$text_color_12: #1A1C1C;
$text_color_13: #E9E9EC;
$text_color_14: #08080A;
$text_color_15: #F2F2F2;
$text_color_16: #131314;
$text_color_17:  rgba(0, 0, 0, .4);

$font_title_1: GothamProBold, sans-serif;
$font_title_2:  Opensans, sans-serif;
$font_title_3:  SFProDisplay, sans-serif;
$font_title_4:  GothamProRegular, sans-serif;
